/* NOVEDADES */
.novedades-titulo{
    margin-top: 5%;
    text-align: center;
    text-wrap: balance;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .625rem;
}
.novedades-seccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.noticia{
    width: 80%;
    margin: 5% 0;
    p{
        text-align: right;
        margin-right: 10%;
    }
}
.novedades-contenido{
    height: 18.75rem;
    display: flex;
    justify-content: space-between;

    @include borde(.25rem, 5rem);
}
.novedades-img{
    aspect-ratio: 1/1;
    height: 100%;
    position: relative;
    left: 5%;
    bottom: 15%;

    @include borde(.25rem, 5rem);
}
.novedades-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.25rem;
    width: 55%;
    h3{
        font-size: 1.25rem;
        font-weight: 600;
    }
    p{
        font-size: 1rem;
        font-weight: 300;
        text-align: left;
    }
}