/* PÁGINA ACUERDOS */
.acuerdos-titulo{
    margin-top: 10%;
    text-align: center;
    text-wrap: balance;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .625rem;
}
.acuerdos-container{
    margin: 2% 10% 6% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    details{
        width: 100%;
        margin-bottom: 2%;
    
        @include borde(.25rem 0, 3.125rem);
    }
    summary{
        font-size: 1.5rem;
        font-weight: 600;
        text-align: justify;
        margin: 2% 0 2% 5%;
    }
    h3{
        font-size: 1.25rem;
        font-weight: 400;
        text-align: justify;
        margin: .3125rem 0 .3125rem 1.25rem;
    }
    h4{
        font-size: 1rem;
        font-weight: 300;
        text-align: justify;
        text-decoration: underline;
        margin-left: 2.5rem;
    }
    p{
        font-size: 1rem;
        font-weight: 300;
        text-align: justify;
        margin: .5rem 2.5rem;
    }
}
.acuerdos-lista{
    list-style-type:disc;
    li{
        font-size: 1rem;
        font-weight: 300;
        text-wrap: wrap;
        text-align: left;
        margin: 0 3.5rem;
    }
}