body{
    background: url(../assets/img/background.jpg) repeat center center;
    
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.6875rem;
}