@media(max-width:900px){
    nav{
        flex-direction: column;
        justify-content: center;
        height: fit-content;
    }
    .logo{
        width: 100%;
        margin: 2% 0;
        justify-content: center;
    }
    .accesos{
        border-style: solid;
        border-color: #505050;
        border-width: .125rem 0 0 0;
        width: 90%;
        margin: 0 5% 2% 5%;
        padding-top: 2%;
        font-size: 1rem;
    }
}