@media(max-width:320px){
    /* HEADER */
    footer{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr .5fr 1fr .5fr;
        grid-template-areas:
        "ubicacion"
        "tel-horario"
        "tel-horario"
        "icons"
        ;
    }
    .tel-horario{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 75%;
    }
    .horario{
        width: 100%;
    }
    /* ACUERDOS */
    .acuerdos-container summary{
        font-size: .75rem;
    /*PROPUESTA*/
    p{
        font-size: .5625rem;
    }
    ul li{
        font-size: .5625rem;
    }
    }
    /* EQUIPO */
    .equipo-container summary{
        font-size: .75rem;
    }
}