@media (max-width:1200px) {
    /* HEADER */
    .logo h2{
        font-size: 1.5rem;
    }
    /* FOOTER */
    .horario div p{
        font-size: .875rem;
    }
    .tel p{
        font-size: .875rem;
    }
}